[Unit]
Description=Hamster Girlfriend Web Server Container
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=always
ExecStartPre=-/usr/bin/podman rm -f hamster
ExecStart=/usr/bin/podman run --name hamster \
  -p 8080:80 \
  -v /home/{{ admin_user }}/containers/hamster:/usr/share/nginx/html:ro \
  docker.io/library/nginx:alpine
ExecStop=/usr/bin/podman stop -t 10 hamster
ExecStopPost=-/usr/bin/podman rm -f hamster

[Install]
WantedBy=multi-user.target
